<div class="main">
  <h1>{{ data.first_name }}'s Information</h1>
  <!-- Display attributes of instance -->
  {{ data.first_name }}<br />
  {{ data.last_name }}<br />
  {{ data.nickname }}<br />
  {{ data.technologies }}<br />
  {{ data.email }}<br />
  <img src="{{ data.display_picture.url }}" class="image_responsive" height="300px" width="auto">
  <br />
  <a class="btn btn-primary" href="/upload/{{ user_pr.id }}/update">Update Info</a>
  <a class="btn btn-primary" href="/upload/{{ user_pr.id }}/update">List Profiles</a>
  <a class="btn btn-primary" href="/upload/list">Update Info</a>
</div>